{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <!-- start main post area -->
        <div class="col-md-8 main-content">
            <!-- start post -->
            {% for post in posts %}
            <article id="14" class="post tag-getting-started tag-feature featured">
                {% if post.featured %}
                    <div class="featured">
                        <i class="fa fa-star"></i>
                    </div>
                {% endif %}
                <div class="post-head">
                    <h2 class="post-title"><a href="{{ path("post", {'slug': post.slug}) }}">{{ post.title }}</a></h2>
                    <div class="post-meta">
                        <span class="author">By <a href="{{ path("author", {'username': post.author.username}) }}">{{ post.author.firstname }} {{ post.author.lastname }}</a></span> &bull;
                        <span class="date">{{ post.updatedAt|date('F d Y') }}</span> &bull;
                        <span class="comment-count"><a href="{{ path("post", {'slug': post.slug}) }}#disqus_thread">0 Comments</a></span>
                    </div>
                </div>

                <div class="post-content">
                    {{ post.content|truncate(150)|raw }}
                </dv>
                <div class="post-permalink">
                    <a href="{{ path("post", {'slug': post.slug}) }}" class="btn btn-default">Continue Reading</a>
                </div>
                <footer class="post-footer clearfix">
                    <div class="pull-left tag-list">
                        <i class="fa fa-folder-open-o"></i>
                        <a href="{{ path('category', {'slug': post.category.slug}) }}">{{ post.category.name }}</a>
                    </div>
                    <div class="pull-right share">
                        <ul class="share-icons">
                            <!-- twitter -->
                            <li>
                                <a href="https://twitter.com/share?text={{ post.title }}&amp;url={{ url("post", {'slug': post.slug}) }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
                            </li>

                            <!-- facebook -->
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url("post", {'slug': post.slug}) }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a>
                            </li>

                            <!-- google plus -->
                            <li>
                                <a href="https://plus.google.com/share?url={{ url("post", {'slug': post.slug}) }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i></a>
                            </li>

                            <!-- linkedin -->
                            <li>
                                <a href="https://www.linkedin.com/shareArticle?mini=true%26url={{ url("post", {'slug': post.slug}) }}%26source=http://cteam-lab.com" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>		</div>
                </footer>
            </article>
            {% endfor %}
            {#
            <article id="13" class="post tag-feature tag-text">
                <div class="post-head">
                    <h2 class="post-title"><a href="focused-on-content/index.html">Focused on Content</a></h2>
                    <div class="post-meta">
                        <span class="author">By <a href="author/biswajit/index.html">Biswajit Saha</a></span> &bull;
                        <span class="date">February 04, 2015</span> &bull;
                        <span class="comment-count"><a href="focused-on-content/index.html#disqus_thread">0 Comments</a></span>
                    </div>
                </div>
                <div class="featured-media">
                    <a href="focused-on-content/index.html"><img src="content/images/2015/02/image-4.jpg" alt="Focused on Content"></a>
                </div>
                <div class="post-content">
                    <p>Orbit is a clean amd content focus theme. So Orbt is perfect for any writer or personal blogger who want ro share his/her thought through blogging. Additionally if you want to use image, audio or video to furnish your blog wordsmith is perfect for this pourpose, because orbit can</p>
                </div>
                <div class="post-permalink">
                    <a href="focused-on-content/index.html" class="btn btn-default">Continue Reading</a>
                </div>
                <footer class="post-footer clearfix">
                    <div class="pull-left tag-list">
                        <i class="fa fa-folder-open-o"></i>
                        <a href="tag/feature/index.html">Feature</a>,<a href="tag/text/index.html">Text</a>
                    </div>
                    <div class="pull-right share">
                        <ul class="share-icons">
                            <!-- twitter -->
                            <li>
                                <a href="https://twitter.com/share?text=Focused%20on%20Content&amp;url=http://futura-ghost.gbjsolution.com/focused-on-content/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
                            </li>
                            <!-- facebook -->
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http://futura-ghost.gbjsolution.com/focused-on-content/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a>
                            </li>
                            <!-- google plus -->
                            <li>
                                <a href="https://plus.google.com/share?url=http://futura-ghost.gbjsolution.com/focused-on-content/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <!-- pinterest -->
                            <li>
                                <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','../assets.pinterest.com/js/pinmarklet2a3b.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <!-- linkedin -->
                            <li>
                                <a href="https://www.linkedin.com/shareArticle?mini=true%26url=http://futura-ghost.gbjsolution.com/focused-on-content/%26source=http://futura-ghost.gbjsolution.com" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>		</div>
                </footer>
            </article>
            <article id="12" class="post tag-post-type tag-feature tag-text featured">
                <div class="featured">
                    <i class="fa fa-star"></i>
                </div>
                <div class="post-head">
                    <h2 class="post-title"><a href="plain-text-post/index.html">Plain Text Post</a></h2>
                    <div class="post-meta">
                        <span class="author">By <a href="author/biswajit/index.html">Biswajit Saha</a></span> &bull;
                        <span class="date">February 04, 2015</span> &bull;
                        <span class="comment-count"><a href="plain-text-post/index.html#disqus_thread">0 Comments</a></span>
                    </div>
                </div>
                <div class="post-content">
                    <p>Vivamus a tellus a ipsum dapibus pellentesque eget a metus. Aenean venenatis eros nec volutpat scelerisque. Phasellus et molestie metus, at pretium tortor. Donec rhoncus mattis quam, eu porta ligula auctor eu. Vivamus id vehicula lacus. Duis id tellus ipsum. Sed elementum pellentesque dolor, at consequat orci aliquam lobortis. Maecenas</p>
                </div>
                <div class="post-permalink">
                    <a href="plain-text-post/index.html" class="btn btn-default">Continue Reading</a>
                </div>
                <footer class="post-footer clearfix">
                    <div class="pull-left tag-list">
                        <i class="fa fa-folder-open-o"></i>
                        <a href="tag/post-type/index.html">Post Type</a>,<a href="tag/feature/index.html">Feature</a>,<a href="tag/text/index.html">Text</a>
                    </div>
                    <div class="pull-right share">
                        <ul class="share-icons">
                            <!-- twitter -->
                            <li>
                                <a href="https://twitter.com/share?text=Plain%20Text%20Post&amp;url=http://futura-ghost.gbjsolution.com/plain-text-post/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
                            </li>
                            <!-- facebook -->
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http://futura-ghost.gbjsolution.com/plain-text-post/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a>
                            </li>
                            <!-- google plus -->
                            <li>
                                <a href="https://plus.google.com/share?url=http://futura-ghost.gbjsolution.com/plain-text-post/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <!-- pinterest -->
                            <li>
                                <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','../assets.pinterest.com/js/pinmarklet2a3b.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <!-- linkedin -->
                            <li>
                                <a href="https://www.linkedin.com/shareArticle?mini=true%26url=http://futura-ghost.gbjsolution.com/plain-text-post/%26source=http://futura-ghost.gbjsolution.com" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>		</div>
                </footer>
            </article>
            <article id="11" class="post tag-post-type tag-feature tag-video">
                <div class="post-head">
                    <h2 class="post-title"><a href="vimeo-video/index.html">Vimeo Video</a></h2>
                    <div class="post-meta">
                        <span class="author">By <a href="author/biswajit/index.html">Biswajit Saha</a></span> &bull;
                        <span class="date">February 04, 2015</span> &bull;
                        <span class="comment-count"><a href="vimeo-video/index.html#disqus_thread">0 Comments</a></span>
                    </div>
                </div>
                <div class="post-content">
                    <p><featured><iframe src="http://player.vimeo.com/video/105545337?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></featured>Nunc tempus convallis purus ornare convallis. Nunc sed sem ex. Suspendisse ultricies, diam ac faucibus lacinia, augue ante imperdiet nisi, nec euismod nisi nisi eget augue. Mauris vehicula placerat eros. Sed condimentum, eros id luctus tincidunt, lorem est pretium ante, at aliquam lacus sem vel metus. Etiam in massa pharetra</p>
                </div>
                <div class="post-permalink">
                    <a href="vimeo-video/index.html" class="btn btn-default">Continue Reading</a>
                </div>
                <footer class="post-footer clearfix">
                    <div class="pull-left tag-list">
                        <i class="fa fa-folder-open-o"></i>
                        <a href="tag/post-type/index.html">Post Type</a>,<a href="tag/feature/index.html">Feature</a>,<a href="tag/video/index.html">Video</a>
                    </div>
                    <div class="pull-right share">
                        <ul class="share-icons">
                            <!-- twitter -->
                            <li>
                                <a href="https://twitter.com/share?text=Vimeo%20Video&amp;url=http://futura-ghost.gbjsolution.com/vimeo-video/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
                            </li>
                            <!-- facebook -->
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http://futura-ghost.gbjsolution.com/vimeo-video/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a>
                            </li>
                            <!-- google plus -->
                            <li>
                                <a href="https://plus.google.com/share?url=http://futura-ghost.gbjsolution.com/vimeo-video/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <!-- pinterest -->
                            <li>
                                <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','../assets.pinterest.com/js/pinmarklet2a3b.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <!-- linkedin -->
                            <li>
                                <a href="https://www.linkedin.com/shareArticle?mini=true%26url=http://futura-ghost.gbjsolution.com/vimeo-video/%26source=http://futura-ghost.gbjsolution.com" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>		</div>
                </footer>
            </article>
            <article id="10" class="post tag-post-type tag-feature tag-video">
                <div class="post-head">
                    <h2 class="post-title"><a href="youtube-video/index.html">Youtube Video</a></h2>
                    <div class="post-meta">
                        <span class="author">By <a href="author/biswajit/index.html">Biswajit Saha</a></span> &bull;
                        <span class="date">February 04, 2015</span> &bull;
                        <span class="comment-count"><a href="youtube-video/index.html#disqus_thread">0 Comments</a></span>
                    </div>
                </div>
                <div class="post-content">
                    <p><featured><iframe width="560" height="315" src="https://www.youtube.com/embed/wG-aCuiv54M" allowfullscreen></iframe></featured>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus sem sed orci convallis placerat. Vivamus elit lorem, vestibulum ut tincidunt sit amet, imperdiet id justo. Morbi elementum lacus et elementum ullamcorper. Donec sit amet faucibus sapien. Nullam semper ante sit amet nisi pulvinar, vitae sollicitudin ligula gravida. Aliquam erat</p>
                </div>
                <div class="post-permalink">
                    <a href="youtube-video/index.html" class="btn btn-default">Continue Reading</a>
                </div>
                <footer class="post-footer clearfix">
                    <div class="pull-left tag-list">
                        <i class="fa fa-folder-open-o"></i>
                        <a href="tag/post-type/index.html">Post Type</a>,<a href="tag/feature/index.html">Feature</a>,<a href="tag/video/index.html">Video</a>
                    </div>
                    <div class="pull-right share">
                        <ul class="share-icons">
                            <!-- twitter -->
                            <li>
                                <a href="https://twitter.com/share?text=Youtube%20Video&amp;url=http://futura-ghost.gbjsolution.com/youtube-video/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
                            </li>
                            <!-- facebook -->
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http://futura-ghost.gbjsolution.com/youtube-video/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a>
                            </li>
                            <!-- google plus -->
                            <li>
                                <a href="https://plus.google.com/share?url=http://futura-ghost.gbjsolution.com/youtube-video/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <!-- pinterest -->
                            <li>
                                <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','../assets.pinterest.com/js/pinmarklet2a3b.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <!-- linkedin -->
                            <li>
                                <a href="https://www.linkedin.com/shareArticle?mini=true%26url=http://futura-ghost.gbjsolution.com/youtube-video/%26source=http://futura-ghost.gbjsolution.com" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>		</div>
                </footer>
            </article>#}
            <!-- end post -->				<!-- start pagination -->
            <nav class="pagination">
                <span class="page-number">Page 1 of 3</span>
                <a class="older-posts" href="page/2/index.html"><i class="fa fa-angle-right"></i></a>
            </nav>
            <!-- end pagination -->
        </div>
        <!-- end main post area -->
        <!-- start sidebar -->
        <div class="col-md-4 sidebar">
            <!-- start widget -->
            <div class="widget">
                <h4 class="title">Follow</h4>
                <div class="content">
                    <ul class="social">
                        <!-- start social links -->
                        <!-- replace the # with your own profile link address -->
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa  fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-stack-overflow"></i></a></li>
                        <li><a href="#"><i class="fa fa-stack-exchange"></i></a></li>
                        <li><a href="#"><i class="fa fa-xing"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="rss/index.html"><i class="fa fa-rss"></i></a></li>
                        <!-- end social links -->
                    </ul>
                </div>
            </div>
            <!-- end widget -->	<!-- start tag cloud widget -->
            <div class="widget">
                <h4 class="title">Newsletter</h4>
                <div class="content newsletter">
                    <p>Subscribe to our newsletter</p>
                    <div id="mc_embed_signup">
                        <form action="http://futura-ghost.gbjsolution.com/" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                            <div class="input-group">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email...">
                            </div>
                            <div class="input-group">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
                            </div>
                        </form>
                    </div>
                    <div id="message"></div>
                </div>
            </div>
            <!-- end tag cloud widget -->	<!-- start widget -->
            <div class="widget">
                <h4 class="title">Recent Post</h4>
                <div class="content recent-post"></div>
            </div>
            <!-- end widget -->	<!-- start tag cloud widget -->
            <div class="widget">
                <h4 class="title">Tags</h4>
                <div class="content tag-cloud"></div>
            </div>
            <!-- end tag cloud widget -->	<!-- start widget -->
            <div class="widget">
                <h4 class="title">Advertisement</h4>
                <div class="content ad">
                    <img src="assets/images/ad-placeholdera7a4.png?v=0eb0f0ea73" alt="">
                </div>
            </div>
            <!-- end widget -->	<!-- start widget -->
            <div class="widget">
                <h4 class="title">Facebook</h4>
                <div class="content fb"></div>
            </div>
            <!-- end widget -->	<!-- start widget -->
            <div class="widget">
                <h4 class="title">Twitter</h4>
                <div class="content twitter"></div>
            </div>
            <!-- end widget -->	<!-- start widget -->
            <div class="widget">
                <h4 class="title">Google +</h4>
                <div class="content google-plus"></div>
            </div>
            <!-- end widget -->	<!-- start widget -->
            <div class="widget">
                <h4 class="title">Text Widget</h4>
                <div class="content">
                    Here you can add any text or html snippet. All widgets are reorderable. Also if you want to remove any widget from sidebar or footer then that is very simple.
                </div>
            </div>
            <!-- end widget --></div>
        <!-- end sidebar -->		</div>
{% endblock %}
